rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{userId} {
      allow read: if request.auth != null && request.auth.uid == userId;

      allow create: if request.auth != null
                    && request.auth.uid == userId;

      allow update: if request.auth != null
                    && request.auth.uid == userId
                    && request.resource.data.diff(resource.data).affectedKeys().hasOnly([
                      'displayName','email','positiveDurationDays','negativeDurationDays',
                      'positiveResetAt','negativeResetAt','balanceResetAt','updatedAt','lockedUntil'
                    ]);

      allow delete: if false;

      match /transactions/{transactionId} {
        allow read: if request.auth != null
                    && request.auth.uid == userId;

        allow create: if request.auth != null
                      && request.auth.uid == userId
                      && validUserAccess(userId, database);

        allow update, delete: if false;
      }
    }
  }

  function validUserAccess(userId, database) {
    return !exists(/databases/$(database)/documents/users/$(userId))
      || get(/databases/$(database)/documents/users/$(userId)).data.lockedUntil == null
      || get(/databases/$(database)/documents/users/$(userId)).data.lockedUntil < request.time;
  }
}
