rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{userId} {
      allow read: if request.auth != null
                  && request.auth.uid == userId
                  && (!resource.data.lockedUntil || resource.data.lockedUntil < request.time);
      allow create: if request.auth != null
                    && request.auth.uid == userId
                    && (!request.resource.data.lockedUntil || request.resource.data.lockedUntil < request.time);
      allow update: if request.auth != null
                    && request.auth.uid == userId
                    && request.resource.data.lockedUntil == resource.data.lockedUntil
                    && (!resource.data.lockedUntil || resource.data.lockedUntil < request.time);
      allow delete: if false;

      match /feedback/{feedbackId} {
        allow create: if request.auth != null && request.auth.uid == userId
          && request.resource.data.uid == userId
          && request.resource.data.text is string
          && request.resource.data.text.size() > 0
          && request.resource.data.text.size() <= 1000;
        allow read, update, delete: if false;
      }

      match /transactions/{transactionId} {
        allow read, create: if request.auth != null
                            && request.auth.uid == userId
                            && (!exists(/databases/$(database)/documents/users/$(userId))
                                || !get(/databases/$(database)/documents/users/$(userId)).data.lockedUntil
                                || get(/databases/$(database)/documents/users/$(userId)).data.lockedUntil < request.time);
        allow update, delete: if false;
      }
    }
  }
}
